<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/img/logo_propio.png">
    <title>Portfolio Amanda</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!--estilo roboto titulo y subtitulo -->   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Micro+5&display=swap" rel="stylesheet">
    <!--estilo roboto subtitulos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Micro+5&display=swap"
        rel="stylesheet">
    <!--estilo boton-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <!--enlaze al javascript-->
    <script src="./static/js/script.js"></script>
</head>

<body>
    <nav>
        <img id="logopropio" src="./static/img/logo_propio.png" alt="logopropio">
        <button id="toggleMenu">☰</button>
        <ul class="nav-links">
            <li><a href="#sobremi" class="active">Sobre mí</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
        <a href="/en">
            <img class="logo_idioma" src="./static/img/EN.png" alt="English"></a>
    </nav>

    <main>
        <div class="titulo">
            <h1>
                <span>Hola, Mundo</span> <br>
                Mi nombre es <br>
                Amanda Pares Fernández
            </h1>
            <h2 class="subtitulo">
                Desarrolladora Full Stack
            </h2>
        </div>

        <div class="sobremi" id="sobremi">
            <img class="icono-mayorque"
                src="./static/img/Imagen_de_WhatsApp_2024-02-24_a_las_08.37.37_61315dfd-removebg-preview.png"
                alt="iconodonut">
            <h2>Sobre mí</h2>
        </div>

        <div class="link-perfiles">
            <a href="#">
            <img class="chile" src="./static/img/chile.png" alt="chile">
            </a>
            <a href="https://github.com/AParesFernandez">
                <img class="github" src="./static/img/logo_github.png" alt="logogithub"></a>
            <a href="https://www.linkedin.com/in/amanda-pares-fern%C3%A1ndez-developer/">
                <img class="linkedin" src="./static/img/logo-linke.png" alt="logo-linkedin">
            </a>

        </div>

        <div class="descripcion-sobremi">
            <p>
                Soy una persona alegre, empática y muy paciente. <br>
                Me gusta aprender cosas nuevas cada día,
                así como aprender de los demás, <br>
                trabajar en equipo y aprovechar al máximo cada experiencia positiva, <br>
                convirtiendo las adversidades en oportunidades de aprendizaje. <br>
                Estoy comprometida a crecer constantemente y ampliar mis horizontes. <br>
                Creo firmemente que si me esfuerzo al máximo hoy, <br>
                podré superar mis límites mañana.
            </p>
        </div>

        <div class="skills" id="skills">
            <img class="icono-mayorque"
                src="./static/img/Imagen_de_WhatsApp_2024-02-24_a_las_08.37.37_61315dfd-removebg-preview.png"
                alt="iconodonut">
            <h2>
                Skills
            </h2>
        </div>
        <div class="descripcion-sobreskills">
            <p>Me especializo en el desarrollo Back-End, <br>ya que tengo un gran interés en las bases de datos. <br>
                Sin embargo, también poseo conocimientos sobre el desarrollo Front-End</p>
        </div>
        <div class="imagenes-skills">
            <img class="python" src="./static/img/Python-logo-notext.svg.png" alt="python">
            <img class="htmlcssjs" src="./static/img/html-css-js.png" alt="htmlcssjs">
            <img class="flask" src="./static/img/flask.jpg" alt="flask">
            <img class="django" src="./static/img/django.png" alt="django">
        </div>
        <div class="imagenes-skills-2">
            <img class="sqlite" src="./static/img/sqlite.png" alt="sqlite">
            <img class="mysql" src="./static/img/database-mysql-icon-462x512-6itsq0zm.png" alt="mysql">
            <img class="postgresql" src="./static/img/postgresql.png" alt="postgresql">
        </div>
        <div class="imagenes-skills-3">
            <img class="git" src="./static/img/Imagen de WhatsApp 2024-02-24 a las 08.37.34_a2c1f2a7.jpg" height="100px"
                width="100px" alt="git">
            <img class="github1" src="./static/img/logo_github.png " alt="github">
        </div>

        <div class="proyectos" id="proyectos">
            <img class="icono-mayorque"
                src="./static/img/Imagen_de_WhatsApp_2024-02-24_a_las_08.37.37_61315dfd-removebg-preview.png"
                alt="iconodonut">
            <h2>Proyectos</h2>
        </div>
        <div class="pasion-artesana">
            <img class="pasionartesana" src="./static/img/logo.png" alt="pasionartesana">
        </div>
        <div class="descripcion-pasion-artesana">
            <p>Pasion Artesana</p>
            <p>Aplicación que conecta a los artesanos con compradores, <br> uno de sus objetivos principales es mantener
                a los artesanos conectados <br> y al corriente de eventos y ferias. </p>
            <p>En desarrollo.</p>
        </div>


        <div class="contacto" id="contacto">
            <img class="icono-mayorque"
                src="./static/img/Imagen_de_WhatsApp_2024-02-24_a_las_08.37.37_61315dfd-removebg-preview.png"
                alt="iconodonut">
            <h2 class="titulo-contacto">
                Contacto
            </h2>
        </div>
        <div class="mail">
            <a href="mailto:amandapares87@gmail.com">
                <img class="imagen-mail" src="/static/img/logo_mail.png" alt="mail">
            </a>
        </div>

        <!--<div class="formulario">
            <form action="/enviar" method="POST">
                <label class="nombre" for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required> <br>

                <label class="numero_celular" for="numero_celular">Teléfono:</label>
                <input type="int" id="numero_celular" name="numero_celular" required> <br>

                <label class="email" for="email">Email:</label>
                <input type="text" id="email" name="email" required> <br>

                <label class="mensaje" for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required></textarea> <br>

                <button class="boton-enviar"> Enviar </button>
            </form>
        </div> -->
    </main>

    <footer>
        <p></p>

    </footer>

</body>

</html>